*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background:linear-gradient(90deg ,#3f89ce,#33d4d4);
}
.container{
    margin-bottom: 20px;
}

.player{
    width: 400px;
    height:400px;
    margin: 50px;
    
}
.imgBx{
    position: relative;
}
img{
    height: 100%;
    width: 100%;
    background-color: rgba(51, 212, 212, 0.678);
    object-fit: cover;
    border-radius:50%;
}
audio{
    width: 100%;
    outline: none;
    margin-top: 10px;
}
@media(max-width:612px){
    .player{
        width: 300px;
        height: 300px;
    }
}
@media(max-width:350px){
    .player{
        width: 250px;
        height: 250px;
    }
}
